@import 'styles/config';

*{font-size: 16px;}

.red{
    color:red
}

.green{
    color: green;
}

.header{
    min-height: 700;
    padding: 1em 0em;

}

.headerContent{
    font-size:3em;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 1.5em;
}
.headerForm{
    margin-bottom: 5em;
}

.grade{
    font-weight: bold;
    font-size: 10em;
    color: #3CAE6A;
}

.gradetitle{
    font-weight: bold;
    font-size: 3em;
    color: #3CAE6A;
    text-decoration: underline;
}

.top{
    padding: 5em 0em 0em 2em;
}

.segment{
    padding: 3em 0em;
}

.link:hover{
    text-decoration: underline;
}

.bg{
    background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.tab{
    margin-top: 1.5em;
}


.highlighter{
    background-color: rgba(209,236,241,0.75);
    color: #0c5460;
    padding: 0.50em 2em;
    border: 1px solid transparent;
    border-color: #bee5eb ;
    border-radius: 0.25em;
    margin-top: 4em;
}